* {
    font-family: 'Poppins', sans-serif;
}


.navbar-brand {
    font-size: 22px;
    font-weight: 700;
}

.nav-link {
    color: #3E3E3E;
}


.carousel-caption.d-none.d-md-block h2 {
    font-size: 48px;
    font-weight: 600;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.fs-15 {
    font-size: 15px;
}

.fa-check-circle {
    color: #5243C2;
}

.packages li {
    line-height: 2;
}

/* .btn-pink {
    background-color: pink;
} */

.cbd:hover {
    background: url(icons/watermark.svg), #3F87F5;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    margin-top: -40px;
    box-shadow: 3px 15px 20px #81b2fc;
    transition: .3s;
}

.btn-pink:hover {
    background: #fff;
    color: #3F87F5;
}

.btn-pink {
    background-color: #F496D1;
    color: #3F87F5;
}

.toast {
    margin-left: 1000px;
}